
@{
    ViewData["Title"] = "Управление данными";
}


<div class="row">

    <div class="col-md-3">
        <h2>Управление данными</h2>
        <ul>
            <li>
                <a asp-area="" asp-controller="Accounts" asp-action="Index">Аккаунты</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Clients" asp-action="Index">Данные клиентов</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Drivers" asp-action="Index">Данные водителей</a>
            </li>
            <li>  <a asp-area="" asp-controller="Rides" asp-action="Index">Поездки</a></li>
            <li>  <a asp-area="" asp-controller="Feedbacks" asp-action="Index">Отзывы</a></li>
        </ul>
    </div>

</div>
