
<div class="row">

    <div class="col-md-3">
        <h2>Меню администратора</h2>
        <ul>

            <li>
                <a asp-area="" asp-controller="Accounts" asp-action="AdminIndex">Просмотр аккаунтов</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Rides" asp-action="Index">История поездок</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Feedbacks" asp-action="Index">Просмотр отзывов</a>
            </li>
            <li>  <a asp-area="" asp-controller="Report" asp-action="AdminIndex">Составить отчет</a></li>
            <li>  <a asp-area="" asp-controller="Menu" asp-action="AdminData">Управление данными</a></li>

        </ul>
    </div>

</div>
