
@{
    ViewData["Title"] = "Canceled";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentClientRide</title>
</head>
<body>

    <div>
        <h2>Canceled</h2>
        <label>Заказ был отменён. Вы можете оставить отзыв через пункт меню "история поездок".</label><br />
    </div>
    <div>
        <a asp-controller="Menu" asp-action="Index">Возврат в меню</a>
    </div>
</body>
</html>
