@model TAXIDIP1.Models.Rides

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Rides</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptedAt" class="control-label"></label>
                <input asp-for="AcceptedAt" class="form-control" />
                <span asp-validation-for="AcceptedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartedAt" class="control-label"></label>
                <input asp-for="StartedAt" class="form-control" />
                <span asp-validation-for="StartedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAccepted" class="control-label"></label>
                <input asp-for="IsAccepted" class="form-control" />
                <span asp-validation-for="IsAccepted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStart" class="control-label"></label>
                <input asp-for="AddressStart" class="form-control" />
                <span asp-validation-for="AddressStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressEnd" class="control-label"></label>
                <input asp-for="AddressEnd" class="form-control" />
                <span asp-validation-for="AddressEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCurrent" class="control-label"></label>
                <input asp-for="AddressCurrent" class="form-control" />
                <span asp-validation-for="AddressCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCanceled" class="control-label"></label>
                <input asp-for="IsCanceled" class="form-control" />
                <span asp-validation-for="IsCanceled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsComplained" class="control-label"></label>
                <input asp-for="IsComplained" class="form-control" />
                <span asp-validation-for="IsComplained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
