@{
    ViewData["Title"] = "Главная страница";
}

<div class="row">
    
    <div class="col-md-3">
        <h2>Главная страница</h2>
        <ul>
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Auth" asp-action="Login">Войти</a></li>
                    <li><a asp-area="" asp-controller="Auth" asp-action="Register">Зарегестрироваться</a></li>
                }
                if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Menu" asp-action="Index">Переход в меню</a></li>
                }

            }

            
        </ul>
    </div>
    
</div>
